@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  .zalando-font {
    font-family: 'Zalando Sans Expanded', sans-serif !important;
  }
}